rclone.conf
gemini/.gemini/tmp
gemini/.gemini
hypr/.config/hypr/monitors.conf
nvim/.config/nvim/lua/custom/plugins/avante.lua.bak
alacritty/.config/alacritty/alacritty-colors.toml
wofi/.config/wofi/style.css
!gemini/.gemini/GEMINI.md
opencode/.opencode/tools/.reddit_data/
**/__pycache__/
**/*.swp
**/*.bak
.scripts/
.playwright-cli/
.playwright/
